security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            custom_authenticators:
                - App\Security\AppCustomAuthenticator
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: login
                check_path: login
            logout:
                path: logout
                target: /
            entry_point: App\Security\AppCustomAuthenticator


    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/agent, roles: ROLE_AGENT }
